{% extends 'core/container/base_html/base_form.html' %}

{% block upload_files %}
	{% if upload_file %}
		{% for file in upload_file %}
			<div class="input-group mb-3">
				<div class="input-group-text">
					<input type="checkbox" name="delete_file" 
						id="id-file-delete-{{ forloop.counter }}-checkbox" 
						class="ms-2"
						value="{{ file.pk }}">
					<label for="id-file-delete-{{ forloop.counter }}-checkbox" class="ms-2">삭제</label>
				</div>
				<input class="form-control bg-white" value="{{ file.upload_file }}" 
					style="font-size: 14px;" disabled>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}

{% block submit_btn %}
	<input type="submit"
		class="btn btn-block btn-dark" value="수정하기">
{% endblock %}