
.simple-search { display: none; }

/* @media (min-width: 576px) { .simple-search { display: none; } } */

@media (min-width: 768px) { .simple-search { display: block; } }

/* @media (min-width: 992px) { .simple-search { display: block; } } */