{% extends 'container/base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/sidebar.css' %}?{% cache_bust %}">
	<link rel="stylesheet" href="{% static 'core/css/base_css/list/list_text.css' %}?{% cache_bust %}">
	<link rel="stylesheet" href="{% static 'core/css/base_css/list/pagination.css' %}?{% cache_bust %}">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			{% block jumbotron %}
				{% include 'components/jumbotron.html' %}
			{% endblock %}

			{% block sidebar %}
				{% include 'components/sidebar.html' %}
			{% endblock %}

			<div class="col-lg-10 col-md-12">
				{% include 'core/components/base_list/list_content.html' %}

				<div class="d-flex justify-content-between col-12 mt-5">
					{% include 'core/components/base_list/pagination.html' %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{% static 'core/js/base_js/list/list_content_toggle.js' %}?{% cache_bust %}"></script>
	<script src="{% static 'core/js/base_js/list/pagination.js' %}?{% cache_bust %}"></script>
{% endblock %}