<footer id="footer" class="footer bg-light py-5">
	<div class="container">
		<div>
			<p class="text-muted">
		  		<strong style="color: #938062">천주교서울대교구 대치4동성당</strong> 
			</p>
			<p class="text-muted">
				주소 : 서울특별시 강남구 삼성로71길 10 천주교 대치4동 성당 | 
				<a href="tel:02-3453-7810">T. 02-3453-7810</a>
			</p>
			<p class="text-muted">Copyright © 천주교서울대교구 대치4동성당. All Rights Reserved.</p>
			<!-- <p class="text-muted">
				<small>본 사이트는 Chrome, Safari, Firefox에 최적화 되어있습니다.</small>
			</p> -->
	  	</div>
	</div>
</footer>